{{! prettier-ignore }}
<div class='mindblown-list mindblown-bgs horizontal-accordion-one {{#unless dockExpanded}}reduced{{/unless}}'>
  <div class="mindblown-list-header">
    <span>STAGES</span>
    <div class="weatherToolbar {{#unless dockExpanded}}reduced{{/unless}}">
      <div class="weather-button rain {{#unless hasStage}}hidden{{/unless}} " data-effect="{{weather.rain}}" title="Rain"><i class="fa-solid fa-cloud-showers-heavy"></i></div>
      <div class="weather-button fog {{#unless hasStage}}hidden{{/unless}} " data-effect="{{weather.fog}}" title="Fog"><i class="fa-solid fa-smog"></i></div>
      <div class="weather-button snow {{#unless hasStage}}hidden{{/unless}} " data-effect="{{weather.snow}}" title="Snow"><i class="fa-solid fa-snowflake"></i></div>
       <div class="weather-button vfx" data-effect="vfx" title="VFX"><i class="fa-solid fa-film"></i></i></div>
      {{!-- <div class="weather-button thunder" data-effect="{{weather.thunder}}" title="Thunder"><i class="fa-solid fa-bolt"></i></div> --}}
    </div>
    <span>
      <span class="toolbar refresher" ><span class="title">SYNC FOLDERS</span>  <i class="fa-solid fa-rotate"></i></span>
      <span class="toolbar endStream {{#unless hasStage}}hidden{{/unless}}"><span class="title">END STREAM</span>  <i class="fa-solid fa-power-off"></i></span>
      <span class="toolbar resetBg {{#unless hasStage}}hidden{{/unless}}"><span class="title">RESET BG</span>  <i class="fa-solid fa-eraser"></i></span>
      <span class="toolbar toggleReduce" >{{#if dockExpanded}}<span class="title">MINIMIZE</span>  <i class="fa-solid fa-compress"></i>{{else}}<span class="title">EXPAND</span>  <i class="fa-solid fa-expand"></i>{{/if}}</span>
    </span>
  </div>
  
<ul class="accordion-container">
  {{#each bgs as |category key|}}
  
  <li data-category="{{key}}" data-tileType="{{../tileType.BG}}" class="accordion-item  {{#isActiveCategory ../activeCategories key ../tileType.BG }}active{{/isActiveCategory}}">
    <div
      class="accordion-head mindblown-category"
      style="
        background: url('{{getFirstPath category}}') center center no-repeat;
        background-size: cover;
      "
    >
      <div class="mindblown-list-title"><span>{{key}}</span></div>
    </div>
    {{#isActiveCategory ../activeCategories key ../tileType.BG }}
    <div class="accordion-data">
      {{#each category as |tile index|}}
      
        <div
          class="accordion-data-item"
          style="
            background: url('{{tile.thumbnail}}') center center no-repeat;
            background-size: cover;
            background-color: black;
          "
          data-tileId="{{tile.id}}"
          data-category="{{key}}"
          data-index="{{index}}"
          data-tileType="{{../../tileType.BG}}"
        ></div>
      {{/each}}
      </div>
    {{/isActiveCategory}}
  </li>
  {{/each}}
</ul>
</div>