<div class="mindblown-panel-container closed">
  <div class="mindblown-panel-toggle">
   <i class="fa-solid fa-users-rectangle"></i> <!-- The little circle button -->
  </div>

  <div class="mindblown-panel-content">
    <ul class="mindblown-accordion">
      {{#each focus as |focusList subfolder|}}
      <li class="mindblown-accordion-item {{#isActiveCategory ../activeCategories subfolder ../tileType.FOCUS}}open{{/isActiveCategory}}" data-category="{{subfolder}}" data-tileType="{{../tileType.FOCUS}}">
        <div class="mindblown-accordion-head">
          <span>{{subfolder}}</span>
        </div>
        {{#isActiveCategory ../activeCategories subfolder ../tileType.FOCUS}}
        <div class="mindblown-accordion-body">
          <div class="mindblown-grid">
            {{#each focusList as |focus index|}}
            <div
              class="mindblown-grid-item"
              style="background-image: url('{{focus.thumbnail}}'); background-position: top center background-size: cover;"
              data-tileId="{{focus.id}}"
              data-category="{{subfolder}}"
              data-index="{{index}}"
              data-tileType="{{../../tileType.FOCUS}}"
            ></div>
            {{/each}}
          </div>
        </div>
        {{/isActiveCategory}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>